<!doctype html>
<html>
  <head>
    <!-- import latest release version of all components from polygit -->
    <script src="{{ url_for('static', filename='bower_components/webcomponentsjs/webcomponents-lite.js') }}"></script>
    <link rel="import" href="{{ url_for('static',filename='bower_components/polymer/polymer.html') }}">
    <link rel="import" href="{{ url_for('static',filename='elements/core-system.html') }}">
  </head>
  <body unresolved>
    <core-system></core-system>
  </body>
</html>